<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Place to practice with OpenAI's API">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>ChatBot PlayGround</title>
</head>
<body class="bg-dark">
    <div id="chat-container" class="mx-auto my-4 col-10">
        <div id="completions" class="col-7 mx-auto">
        </div>
    </div>
    <div class="scroll-button-wrapper mx-auto d-flex flex-row-reverse ">
        <button id="scrollDown" class="scroll-button btn btn-info">Down</button>
        <button id="scrollUp" class="scroll-button btn btn-info me-4">Top</button>
    </div>
    <form  class="d-flex col-5 mx-auto mt-3" onsubmit="chatResponse(event)" method="post" id="chatbot">
        <!-- <label class="form-label" for="chat-input"></label> -->
        <input id="chat-input" name="user-prompt" type="text" class="form-control me-3"placeholder="Enter your prompt here!">
        <input role="button" class=" btn btn-primary" type="submit" value="Chat" >
        <button id="clearBtn" class="btn btn-danger ms-2">Start Over</button>
    </form>
<script type="text/javascript" src="{{url_for('static', filename='chatBotServe.js')}}"></script>
</body>
</html>