
/* Global */
body{
    overflow: scroll;
}
/* Components and Elements */
/* #completions{
    max-height: 200px;
    overflow-y: scroll;
} */



.btn-danger{
    width: 275px;
}

#completions p{
    color: white;
}
.scroll-button-wrapper{
    z-index: 1;
    width: 40%;
    position: sticky;
    bottom: 100px;
    opacity: 1;
    transition: opacity 1s ease-in-out
}

.scroll-button{
    border-radius: 25px;
    display: none;

}
form{
    z-index: 1;
    position: sticky;
    bottom: 10px;
    height: 50px;
}